.red{
    background-color:red;
    height:50px;
    width:150px;
}

.Orange{
    background-color:orange;
    height:50px;
    width:150px;
}
.yellow{
    background-color:yellow;
    height:50px;
    width:150px;
}